<div class="row">
	<div class="ten wide centered column">
		<h1>How To Play</h1>
		<p>When you and your opponent are ready go ahead and click the "lets play" buttom below!</p>
	</div>
</div>
<div class="row">
	<div class="ten wide centered column">
		<h2>Parts of a turn</h2>
		<p>Each player will get a turn consisting of the same steps. Those steps are:
		<ol>
			<li>Tell the game you are ready for your turn</li>
			<li>View any updates about Hits, Misses, wins, etc.</li>
			<li>Take a shot</li>
			<li>View an update if the shot was a hit or miss</li>
			<li>Hand the screen off to the next player</li>
		</ol>
		Since a screen is being shared between two players, the only way to ensure that both players do not know the location of each others ships is an "honor system" of not looking at the other players turn screen. Play with honor, but play to win.
		</p>
	</div>
</div>
<div class="row">
	<div class="five wide centered column">
		<h2>Players Screen</h2>
		<p>After telling the game that you are ready, Each player will see the same type of screen, but one will say "player one" at the top while the other will say "player two". Decide who will be player one and player two as players will have to take turns with the game in front of them. Start with player one who will notice the following elements:
			<ol>
				<li>Your ships and their location on the map, off to the left</li>
				<li>The waters in which your enemy travels, and the shots you have taken, off to the right</li>
			</ol>
		If the turn before you shots were taken, you will get a popup letting you know the current status of your fleet.
		</p>
	</div>
	<div class="five wide centered column">
		<h2>Taking a Shot at the enemy</h2>
		<p>With the shots you have previously taken (if any) being displayed on the right, its time for you to decide where you would like to take your next shot. With that decision made, you simply click the square that represents the grid location you have decided to decimate. Hopefully the enemy doesn't see what is coming to them! With the shot taken the board off to the right will be updated to show that you have now taken a shot at the given grid location. You wouldnt want to shoot the same place twice now would you? If the shot is a hit or a miss, you will get an update, and then be instructed to hand off the screen to the next player.
		</p>
	</div>
	<div class="five wide centered column">
		<h2>Getting shot by the enemy</h2>
		<p>When you are handed the screen by the previous player you will be shown any updates about hits you may have taken and the current status of your fleet. This will help you to ensure you have not missed out on anything while the other player was attacking you.</p>
	</div>
	<div class="five wide centered column">
		<h2>Winning</h2>
		<p>You are considered the winner after you have destroyed all of the enemy ships, but your ships are still up and running.</p>
	</div>
</div>
<div class="row">
	<div class="ten wide centered column">
		<h2>Hand off the screen to player one and get ready for battle!!!!</h2>
		<div class="ui animated huge button" tabindex="0" ng-click="onReady()">
			<div class="visible content">Lets Play!</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</div>
	</div>
</div>